/* screen - macbook-pro-16-1460 */

.macbook-pro-16-1460 {
  align-items: flex-start;
  background-color: #edece8;
  display: flex;
  height: 1117px;
  overflow: hidden;
  width: 1728px;
}

.macbook-pro-16-1460 .overlap-group5 {
  height: 1216px;
  margin-left: -180px;
  position: relative;
  width: 1912px;
}

.macbook-pro-16-1460 .grids {
  height: 1117px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 1728px;
}

.macbook-pro-16-1460 .rectangle-172 {
  background-color: var(--charm);
  border-radius: 19.54px;
  height: 862px;
  left: 1739px;
  position: absolute;
  top: 216px;
  width: 100px;
}

.macbook-pro-16-1460 .rectangle-173 {
  background-color: var(--charm);
  border-radius: 19.54px;
  height: 862px;
  left: 238px;
  position: absolute;
  top: 216px;
  width: 100px;
}

.macbook-pro-16-1460 .rectangle-171 {
  background-color: var(--white);
  border-radius: 19.54px;
  height: 862px;
  left: 277px;
  position: absolute;
  top: 216px;
  width: 1523px;
}

.macbook-pro-16-1460 .rectangle-174 {
  background-color: var(--white);
  border-radius: 19.54px;
  height: 862px;
  left: 285px;
  position: absolute;
  top: 216px;
  width: 1508px;
}

.macbook-pro-16-1460 .rectangle-175 {
  background-color: var(--white);
  border-radius: 19.54px;
  height: 862px;
  left: 290px;
  position: absolute;
  top: 216px;
  width: 1497px;
}

.macbook-pro-16-1460 .rectangle-176 {
  background-color: var(--white);
  border-radius: 19.54px;
  height: 862px;
  left: 294px;
  position: absolute;
  top: 216px;
  width: 1488px;
}

.macbook-pro-16-1460 .rectangle-177 {
  background-color: var(--white);
  border-radius: 19.54px;
  height: 862px;
  left: 298px;
  position: absolute;
  top: 216px;
  width: 1479px;
}

.macbook-pro-16-1460 .line-41 {
  height: 860px;
  left: 1476px;
  position: absolute;
  top: 217px;
  width: 1px;
}

.macbook-pro-16-1460 .whilst-she-was-speak {
  color: var(--sonic-silver);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-weight: 500;
  left: 1091px;
  letter-spacing: 0.47px;
  line-height: 46.9px;
  position: absolute;
  top: 175px;
  width: 599px;
}

.macbook-pro-16-1460 .rectangle-210 {
  background-color: #e1e0db;
  border: 0.5px solid var(--black);
  height: 107px;
  left: 176px;
  position: absolute;
  top: 84px;
  width: 1736px;
}

.macbook-pro-16-1460 .group-328 {
  align-items: center;
  display: flex;
  height: 45px;
  left: 485px;
  min-width: 141px;
  padding: 0 3.3px;
  position: absolute;
  top: 118px;
}

.macbook-pro-16-1460 .polygon-container {
  height: 18px;
  margin-bottom: 1.47px;
  position: relative;
  width: 27px;
}

.macbook-pro-16-1460 .polygon-11 {
  height: 17px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 15px;
}

.macbook-pro-16-1460 .polygon-12 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.macbook-pro-16-1460 .record {
  background-color: #f6f4ed;
  border: 0.7px solid var(--black-2);
  border-radius: 24.77px;
  height: 45px;
  margin-left: 17px;
  width: 45px;
}

.macbook-pro-16-1460 .polygon-container-1 {
  height: 18px;
  margin-bottom: 1.47px;
  margin-left: 17px;
  position: relative;
  width: 28px;
}

.macbook-pro-16-1460 .polygon-13 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.macbook-pro-16-1460 .polygon-14 {
  height: 18px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 16px;
}

.macbook-pro-16-1460 .group-360 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 299px;
  min-height: 46px;
  position: absolute;
  top: 121px;
  width: 133px;
}

.macbook-pro-16-1460 .the-frog-prince {
  color: var(--black);
  font-family: var(--font-family-zilla_slab);
  font-size: var(--font-size-s);
  font-weight: 700;
  letter-spacing: 0;
  min-height: 22px;
}

.macbook-pro-16-1460 .narrated-by-mike {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 4px;
  min-height: 20px;
}

.macbook-pro-16-1460 .group-358 {
  height: 136px;
  left: 963px;
  position: absolute;
  top: 96px;
  width: 154px;
}

.macbook-pro-16-1460 .group-266 {
  height: 22px;
  left: 699px;
  position: absolute;
  top: 129px;
  width: 175px;
}

.macbook-pro-16-1460 .group-362 {
  height: 25px;
  left: 670px;
  position: absolute;
  top: 129px;
  width: 20px;
}

.macbook-pro-16-1460 .frog-princess-funny {
  height: 356px;
  left: 1168px;
  object-fit: cover;
  position: absolute;
  top: 696px;
  width: 451px;
}

.macbook-pro-16-1460 .overlap-group2 {
  height: 84px;
  left: 178px;
  position: absolute;
  top: 0;
  width: 1732px;
}

.macbook-pro-16-1460 .group-381 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid #8e8e8e;
  display: flex;
  height: 65px;
  left: 0;
  min-width: 1732px;
  padding: 19.5px 25.0px;
  position: absolute;
  top: 19px;
}

.macbook-pro-16-1460 .vector {
  height: 23px;
  width: 25px;
}

.macbook-pro-16-1460 .group-393 {
  align-items: flex-start;
  display: flex;
  height: 34px;
  justify-content: center;
  left: 1476px;
  min-width: 230px;
  position: absolute;
  top: 35px;
}

.macbook-pro-16-1460 .overlap-group1 {
  align-items: flex-start;
  background-color: #d7d7d7;
  border: 1.0px solid #0d0d0d;
  border-radius: 34.64px;
  display: flex;
  height: 37px;
  margin-top: -1.04px;
  min-width: 110px;
  padding: 5.4px 11.0px;
}

.macbook-pro-16-1460 .place {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 22px;
  text-align: center;
  width: 86px;
}

.macbook-pro-16-1460 .overlap-group {
  align-items: flex-start;
  background-color: #30bcd5;
  border: 1.0px solid #0d0d0d;
  border-radius: 34.64px;
  display: flex;
  height: 37px;
  margin-left: 12px;
  margin-top: -1.04px;
  min-width: 110px;
  padding: 5.4px 11.0px;
}

.macbook-pro-16-1460 .submit {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 22px;
  text-align: center;
  width: 86px;
}

.macbook-pro-16-1460 .rectangle-249 {
  background-color: #a7a7a3;
  height: 20px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 1728px;
}

.macbook-pro-16-1460 .group-377 {
  align-items: flex-start;
  display: flex;
  height: 10px;
  left: 13px;
  min-width: 43px;
  position: absolute;
  top: 5px;
}

.macbook-pro-16-1460 .close {
  background-color: #eb695d;
  border-radius: 5px;
  height: 10px;
  width: 10px;
}

.macbook-pro-16-1460 .min {
  background-color: #f4be4f;
  border-radius: 5px;
  height: 10px;
  margin-left: 6px;
  width: 10px;
}

.macbook-pro-16-1460 .max {
  background-color: #61c554;
  border-radius: 5px;
  height: 10px;
  margin-left: 7px;
  width: 10px;
}

.macbook-pro-16-1460 .arrow-2 {
  height: 29px;
  left: 1494px;
  position: absolute;
  top: 125px;
  width: 17px;
}

.macbook-pro-16-1460 .arrow-3 {
  height: 29px;
  left: 1643px;
  position: absolute;
  top: 125px;
  width: 17px;
}

.macbook-pro-16-1460 .overlap-group3 {
  align-items: flex-start;
  background-color: #f6f6f4;
  border: 1px solid var(--black);
  border-radius: 7px;
  display: flex;
  height: 42px;
  left: 1550px;
  min-width: 53px;
  padding: 8px 22px;
  position: absolute;
  top: 119px;
}

.macbook-pro-16-1460 .number {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 24px;
  min-width: 6px;
  text-align: center;
}

.macbook-pro-16-1460 .surname {
  color: var(--sonic-silver);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-weight: 400;
  left: 1692px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 127px;
}

.macbook-pro-16-1460 .group-440 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 928px;
  min-height: 36px;
  position: absolute;
  top: 36px;
  width: 179px;
}

.macbook-pro-16-1460 .group-container {
  align-items: flex-start;
  display: flex;
  height: 21px;
  margin-right: 4.57px;
  min-width: 161px;
}

.macbook-pro-16-1460 .component-container {
  height: 20px;
  position: relative;
  width: 141px;
}

.macbook-pro-16-1460 .component-6 {
  align-items: center;
  display: flex;
  gap: 0;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 70px;
}

.macbook-pro-16-1460 .group-1 {
  align-items: flex-start;
  background-color: var(--charm);
  border-radius: 10.07px;
  display: flex;
  height: 20.13px;
  min-width: 20px;
  padding: 3.1px;
}

.macbook-pro-16-1460 .icon-outlinecheck {
  height: 13px;
  width: 13px;
}

.macbook-pro-16-1460 .rectangle-2 {
  background-color: var(--charm);
  flex: 1;
  height: 1.26px;
}

.macbook-pro-16-1460 .component-5 {
  align-items: center;
  display: flex;
  gap: 0;
  height: 20px;
  left: 70px;
  position: absolute;
  top: 0;
  width: 70px;
}

.macbook-pro-16-1460 .group-1-1 {
  align-items: flex-start;
  border: 1.3px solid var(--charm);
  border-radius: 10.07px;
  display: flex;
  height: 20.13px;
  min-width: 20px;
  padding: 5.6px 5.6px;
}

.macbook-pro-16-1460 .ellipse-radio {
  background-color: var(--charm);
  border-radius: 3.15px;
  height: 6px;
  width: 6px;
}

.macbook-pro-16-1460 .rectangle-2-1 {
  background-color: #d1d5db;
  flex: 1;
  height: 1.26px;
}

.macbook-pro-16-1460 .group-1-2 {
  align-items: flex-start;
  align-self: flex-end;
  border: 1.3px solid #9ca3af;
  border-radius: 10.07px;
  display: flex;
  height: 20px;
  min-width: 20px;
  padding: 5.6px 5.6px;
}

.macbook-pro-16-1460 .ellipse-radio-1 {
  background-color: #d1d5db;
  border-radius: 3.15px;
  height: 6px;
  width: 6px;
}

.macbook-pro-16-1460 .flex-row {
  align-items: flex-start;
  display: flex;
  height: 13px;
  margin-right: 6.0px;
  margin-top: 3px;
  min-width: 173px;
}

.macbook-pro-16-1460 .narrate {
  color: var(--charm);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxs);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 13px;
  min-width: 34px;
  text-align: center;
}

.macbook-pro-16-1460 .preview {
  color: var(--charm);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxs);
  font-weight: 800;
  letter-spacing: 0;
  margin-left: 34px;
  min-height: 13px;
  min-width: 37px;
  text-align: center;
}

.macbook-pro-16-1460 .submit-1 {
  color: var(--sonic-silver);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxs);
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 36px;
  min-height: 13px;
  min-width: 32px;
  text-align: center;
}

.macbook-pro-16-1460 .rectangle-264 {
  background-color: var(--sonic-silver);
  height: 15px;
  left: 548px;
  position: absolute;
  top: 133px;
  width: 15px;
}

.macbook-pro-16-1460 .curr-chunk-highlight4 {
  height: 31px;
  left: 370px;
  position: absolute;
  top: 282px;
  width: 577px;
}

.macbook-pro-16-1460 .curr-chunk-highlight {
  height: 31px;
  left: 864px;
  position: absolute;
  top: 282px;
  width: 83px;
}

.macbook-pro-16-1460 .curr-chunk-highlight4-1 {
  height: 31px;
  left: 370px;
  position: absolute;
  top: 331px;
  width: 114px;
}

.macbook-pro-16-1460 .one-fine-evening-a-y {
  color: var(--sonic-silver);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-weight: 500;
  left: 375px;
  letter-spacing: 0.47px;
  line-height: 46.9px;
  position: absolute;
  top: 272px;
  width: 599px;
}
