/* screen - macbook-pro-16-1376 */

.macbook-pro-16-1376 {
  align-items: flex-start;
  background-color: var(--cararra);
  display: flex;
  flex-direction: column;
  height: 1117px;
  overflow: hidden;
  width: 1728px;
}

.macbook-pro-16-1376 .overlap-group13 {
  height: 1138px;
  margin-left: -179.5px;
  margin-top: -1px;
  position: relative;
  width: 1808px;
}

.macbook-pro-16-1376 .grids {
  height: 1117px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 1728px;
}

.macbook-pro-16-1376 .group-335 {
  background-color: var(--caribbean-green-pearl);
  border-radius: 15px;
  height: 200px;
  left: 566px;
  position: absolute;
  top: 232px;
  width: 1241px;
}

.macbook-pro-16-1376 .search-for-a-story-to-narrate {
  left: 596px;
  letter-spacing: 0;
  position: absolute;
  top: 110px;
}

.macbook-pro-16-1376 .narrate-stories-to-kids {
  color: #00000080;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-weight: 600;
  left: 554px;
  letter-spacing: 0;
  position: absolute;
  top: 658px;
}

.macbook-pro-16-1376 .stories-we-have-that {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 600;
  left: 552px;
  letter-spacing: 0;
  position: absolute;
  top: 670px;
}

.macbook-pro-16-1376 .span1 {
  font-size: 36px;
}

.macbook-pro-16-1376 .group-273 {
  align-items: flex-start;
  background-color: #181818;
  border-radius: 40px;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  left: 1222px;
  min-width: 219px;
  padding: 17.8px 24.6px;
  position: absolute;
  top: 90px;
}

.macbook-pro-16-1376 .sort {
  height: 35px;
  width: 35px;
}

.macbook-pro-16-1376 .group-272 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 30px;
  margin-bottom: 2.4px;
  margin-left: 17px;
  min-width: 118px;
}

.macbook-pro-16-1376 .featured {
  letter-spacing: 0;
  min-height: 30px;
  min-width: 90px;
}

.macbook-pro-16-1376 .polygon-4 {
  height: 9px;
  margin-bottom: 1.83px;
  margin-left: 12px;
  width: 12px;
}

.macbook-pro-16-1376 .group-333 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 40px;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  left: 1456px;
  min-width: 185px;
  padding: 19.8px 28.2px;
  position: absolute;
  top: 90px;
}

.macbook-pro-16-1376 .language {
  letter-spacing: 0;
  min-height: 30px;
  min-width: 101px;
  text-align: center;
}

.macbook-pro-16-1376 .polygon-4-1 {
  align-self: center;
  height: 9px;
  margin-bottom: 4.23px;
  margin-left: 7px;
  width: 12px;
}

.macbook-pro-16-1376 .group-334 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  left: 1656px;
  min-width: 151px;
  padding: 19.8px 23.6px;
  position: absolute;
  top: 90px;
}

.macbook-pro-16-1376 .grade-1 {
  letter-spacing: 0;
  min-height: 30px;
  min-width: 63px;
}

.macbook-pro-16-1376 .polygon-4-2 {
  align-self: center;
  height: 9px;
  margin-bottom: 1.34px;
  margin-left: 21px;
  width: 12px;
}

.macbook-pro-16-1376 .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--cararra);
  border: 1.2px solid var(--black);
  border-radius: 35px;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  left: 552px;
  min-width: 621px;
  padding: 7.8px 8.2px;
  position: absolute;
  top: 90px;
}

.macbook-pro-16-1376 .search-for-a-story-to-narrate-1 {
  align-self: center;
  letter-spacing: 0;
  margin-bottom: 2.4px;
  min-height: 30px;
  min-width: 299px;
}

.macbook-pro-16-1376 .group-341 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 40px;
  display: flex;
  height: 53px;
  margin-left: 228px;
  min-width: 53px;
  padding: 12px;
}

.macbook-pro-16-1376 .simple-line-iconsmagnifier {
  height: 28px;
  width: 28px;
}

.macbook-pro-16-1376 .robinhood-moebius-02-1 {
  height: 200px;
  left: 554px;
  position: absolute;
  top: 220px;
  width: 1241px;
}

.macbook-pro-16-1376 .everything-you-need {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 500;
  left: 624px;
  letter-spacing: 0;
  position: absolute;
  top: 268px;
}

.macbook-pro-16-1376 .overlap-group-2 {
  align-items: flex-start;
  background-color: var(--scooter);
  border-radius: 40px;
  display: flex;
  height: 49px;
  left: 620px;
  min-width: 169px;
  padding: 7.8px 21.8px;
  position: absolute;
  top: 330px;
}

.macbook-pro-16-1376 .take-a-peek {
  letter-spacing: 0;
  min-height: 30px;
  min-width: 120px;
  text-align: center;
}

.macbook-pro-16-1376 .rectangle-13-1 {
  border-radius: 15px;
  height: 200px;
  left: 552px;
  position: absolute;
  top: 220px;
  width: 1241px;
}

.macbook-pro-16-1376 .overlap-group1 {
  border-radius: 15px;
  height: 129px;
  left: 552px;
  position: absolute;
  top: 475px;
  width: 549px;
}

.macbook-pro-16-1376 .x {
  align-items: center;
  background-color: var(--cararra);
  border: 1.2px solid var(--black);
  border-radius: 15px;
  display: flex;
  height: 129px;
  justify-content: flex-end;
  left: 0;
  min-width: 549px;
  padding: 0 37.0px;
  position: absolute;
  top: 0;
}

.macbook-pro-16-1376 .overlap-group-3 {
  height: 19px;
  position: relative;
  width: 19px;
}

.macbook-pro-16-1376 .rectangle-161 {
  background-color: var(--black);
  height: 19px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 2px;
}

.macbook-pro-16-1376 .rectangle-162 {
  background-color: var(--black);
  height: 19px;
  left: 9px;
  position: absolute;
  top: 0;
  transform: rotate(-90.00deg);
  width: 2px;
}

.macbook-pro-16-1376 .create-your-own-story {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 500;
  left: 119px;
  letter-spacing: 0;
  position: absolute;
  top: 37px;
}

.macbook-pro-16-1376 .write-or-upload-a-new-story-and-narrate {
  color: #00000080;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-weight: 400;
  left: 119px;
  letter-spacing: 0;
  position: absolute;
  top: 67px;
}

.macbook-pro-16-1376 .menu-book {
  height: 36px;
  left: 55px;
  position: absolute;
  top: 46px;
  width: 36px;
}

.macbook-pro-16-1376 .overlap-group2 {
  align-items: flex-start;
  background-color: #e1e0db;
  display: flex;
  flex-direction: column;
  left: 178px;
  min-height: 1138px;
  padding: 51px 38px;
  position: absolute;
  top: 0;
  width: 297px;
}

.macbook-pro-16-1376 .overlap-group1-1 {
  align-self: center;
  height: 133px;
  margin-right: 31.0px;
  position: relative;
  width: 132px;
}

.macbook-pro-16-1376 .ellipse-54 {
  height: 115px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 110px;
}

.macbook-pro-16-1376 .overlap-group-4 {
  height: 133px;
  left: 0;
  position: absolute;
  top: 0;
  width: 132px;
}

.macbook-pro-16-1376 .o {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 166.3px;
  font-weight: 100;
  left: 0;
  letter-spacing: 0;
  line-height: 133.1px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.macbook-pro-16-1376 .ellipse-46 {
  border: 3.2px solid var(--black);
  border-radius: 16.35px;
  height: 33px;
  left: 19px;
  position: absolute;
  top: 52px;
  width: 33px;
}

.macbook-pro-16-1376 .ellipse-47 {
  border: 3.2px solid var(--black);
  border-radius: 16.35px;
  height: 33px;
  left: 79px;
  position: absolute;
  top: 52px;
  width: 33px;
}

.macbook-pro-16-1376 .ellipse-48 {
  background-color: var(--black);
  border-radius: 7.27px;
  height: 15px;
  left: 83px;
  position: absolute;
  top: 56px;
  width: 15px;
}

.macbook-pro-16-1376 .ellipse-49 {
  background-color: var(--black);
  border-radius: 7.27px;
  height: 15px;
  left: 22px;
  position: absolute;
  top: 56px;
  width: 15px;
}

.macbook-pro-16-1376 .title {
  line-height: 22.0px;
  margin-left: 7px;
  margin-top: 14px;
  min-height: 22px;
  min-width: 182px;
  text-align: center;
  white-space: nowrap;
}

.macbook-pro-16-1376 .span0-1 {
  letter-spacing: -0.23px;
}

.macbook-pro-16-1376 .span1-1 {
  letter-spacing: 0;
}

.macbook-pro-16-1376 .ellipse-71 {
  height: 72px;
  margin-left: 8px;
  margin-top: 559px;
  width: 72px;
}

.macbook-pro-16-1376 .frame-56 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 31px;
}

.macbook-pro-16-1376 .stories {
  align-items: flex-start;
  display: flex;
  min-width: 186px;
}

.macbook-pro-16-1376 .overlap-group-5 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 40px;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  min-width: 184px;
  padding: 16.8px 15.2px;
}

.macbook-pro-16-1376 .community {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 36px;
  text-align: center;
  width: 152px;
}

.macbook-pro-16-1376 .my-stories {
  align-items: center;
  background-color: var(--white);
  border-radius: 40px;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  min-width: 184px;
  padding: 0 25.0px;
}

.macbook-pro-16-1376 .my-drafts {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 36px;
  text-align: center;
  width: 133px;
}

.macbook-pro-16-1376 .overlap-group3 {
  height: 382px;
  left: 984px;
  position: absolute;
  top: 755px;
  width: 383px;
}

.macbook-pro-16-1376 .rectangle-30-2 {
  background-color: var(--scooter);
  border-radius: 15px;
  height: 370px;
  left: 13px;
  position: absolute;
  top: 12px;
  width: 370px;
}

.macbook-pro-16-1376 .rectangle-13 {
  background-color: var(--white);
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1376 .illustration {
  align-items: center;
  background-color: #dbffe9;
  border-radius: 15px;
  display: flex;
  height: 370px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1376 .hyperspace-plant-4 {
  height: 1px;
  margin-bottom: 146.22px;
  margin-left: -71px;
  width: 1px;
}

.macbook-pro-16-1376 .hyperspace-container {
  align-self: flex-end;
  height: 422px;
  margin-bottom: -60.06px;
  margin-left: 69px;
  position: relative;
  width: 392px;
}

.macbook-pro-16-1376 .hyperspace-robot-1 {
  height: 337px;
  left: 129px;
  position: absolute;
  top: 85px;
  width: 263px;
}

.macbook-pro-16-1376 .hyperspace-plant-1 {
  height: 196px;
  left: 0;
  position: absolute;
  top: 0;
  width: 101px;
}

.macbook-pro-16-1376 .hyperspace-plant-2 {
  height: 196px;
  left: 37px;
  position: absolute;
  top: 48px;
  width: 101px;
}

.macbook-pro-16-1376 .rectangle-16 {
  height: 105px;
  left: 0;
  position: absolute;
  top: 262px;
  width: 370px;
}

.macbook-pro-16-1376 .rectangle-31 {
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1376 .group-377 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 303px;
  min-height: 40px;
  position: absolute;
  top: 314px;
  width: 51px;
}

.macbook-pro-16-1376 .ellipse-container {
  height: 19px;
  position: relative;
  width: 49px;
}

.macbook-pro-16-1376 .ellipse-6 {
  background-color: var(--caribbean-green-pearl);
  border-radius: 9.5px;
  height: 19px;
  left: 30px;
  position: absolute;
  top: 0;
  width: 19px;
}

.macbook-pro-16-1376 .ellipse-6-1 {
  background-color: var(--charm);
  border-radius: 9.5px;
  height: 19px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 19px;
}

.macbook-pro-16-1376 .ellipse {
  background-color: var(--anzac);
  border-radius: 9.5px;
  height: 19px;
  left: 0;
  position: absolute;
  top: 0;
  width: 19px;
}

.macbook-pro-16-1376 .narrators {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 6px;
  min-height: 15px;
}

.macbook-pro-16-1376 .overlap-group4 {
  height: 382px;
  left: 1424px;
  position: absolute;
  top: 755px;
  width: 383px;
}

.macbook-pro-16-1376 .rectangle-30 {
  background-color: var(--charm);
  border-radius: 15px;
  height: 370px;
  left: 13px;
  position: absolute;
  top: 12px;
  width: 370px;
}

.macbook-pro-16-1376 .illustration-1 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62608254ac89f88ed541830c/releases/62796437abed5ff4cb1fc8d5/img/screen-shot-2022-04-27-at-5-29-1@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 320px;
  left: 1px;
  min-width: 369px;
  padding: 32.5px 156.6px;
  position: absolute;
  top: 0;
}

.macbook-pro-16-1376 .union {
  height: 45px;
  width: 32px;
}

.macbook-pro-16-1376 .group-445 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62608254ac89f88ed541830c/releases/62796437abed5ff4cb1fc8d5/img/screen-shot-2022-04-27-at-9-08-1@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 302px;
  left: 1px;
  min-width: 369px;
  padding: 30.8px 17px;
  position: absolute;
  top: 0;
}

.macbook-pro-16-1376 .palz-big-leaves-container {
  align-self: center;
  height: 80px;
  margin-top: 37.94px;
  position: relative;
  width: 80px;
}

.macbook-pro-16-1376 .palz-big-leaves {
  height: 51px;
  left: 12px;
  position: absolute;
  top: 29px;
  width: 68px;
}

.macbook-pro-16-1376 .palz-big-leaves-1 {
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 39px;
}

.macbook-pro-16-1376 .union-1 {
  height: 45px;
  margin-left: 80px;
  width: 32px;
}

.macbook-pro-16-1376 .palz-big-leaves-2 {
  align-self: flex-end;
  height: 81px;
  margin-bottom: 31.21px;
  margin-left: 31px;
  width: 108px;
}

.macbook-pro-16-1376 .group-377-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 303px;
  min-height: 40px;
  position: absolute;
  top: 310px;
  width: 52px;
}

.macbook-pro-16-1376 .ellipse-container-2 {
  height: 19px;
  margin-left: 1px;
  position: relative;
  width: 49px;
}

.macbook-pro-16-1376 .narrators-1 {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 15px;
}

.macbook-pro-16-1376 .group-container {
  height: 382px;
  left: 552px;
  position: absolute;
  top: 755px;
  width: 383px;
}

.macbook-pro-16-1376 .overlap-group {
  height: 382px;
  left: 0;
  position: absolute;
  top: 0;
  width: 383px;
}

.macbook-pro-16-1376 .rectangle-30-1 {
  background-color: #f9d06f;
  border-radius: 15px;
  height: 370px;
  left: 13px;
  position: absolute;
  top: 12px;
  width: 370px;
}

.macbook-pro-16-1376 .rectangle-13-2 {
  height: 363px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 370px;
}

.macbook-pro-16-1376 .cover-7 {
  align-items: flex-end;
  background-color: #008bef;
  border-radius: 15px;
  display: flex;
  height: 370px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1376 .overlap-group-6 {
  height: 395px;
  margin-bottom: -23.34px;
  margin-left: -13px;
  position: relative;
  width: 382px;
}

.macbook-pro-16-1376 .bubbles {
  height: 324px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 369px;
}

.macbook-pro-16-1376 .hyperspace-spaceship-6 {
  height: 254px;
  left: 0;
  position: absolute;
  top: 0;
  width: 208px;
}

.macbook-pro-16-1376 .hyperspace-floating {
  height: 301px;
  left: 108px;
  position: absolute;
  top: 94px;
  width: 177px;
}

.macbook-pro-16-1376 .hyperspace-standing {
  height: 301px;
  left: 207px;
  position: absolute;
  top: 94px;
  width: 156px;
}

.macbook-pro-16-1376 .rectangle-16-2 {
  height: 105px;
  left: 0;
  position: absolute;
  top: 261px;
  width: 370px;
}

.macbook-pro-16-1376 .listen-listen {
  left: 20px;
  letter-spacing: 0;
  position: absolute;
  top: 277px;
}

.macbook-pro-16-1376 .group-338 {
  align-items: flex-start;
  display: flex;
  height: 44px;
  left: 20px;
  min-width: 333px;
  position: absolute;
  top: 311px;
}

.macbook-pro-16-1376 .grade-1-1 {
  letter-spacing: 0;
  min-height: 28px;
  min-width: 70px;
}

.macbook-pro-16-1376 .group-377-2 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 212px;
  min-height: 40px;
  width: 51px;
}

.macbook-pro-16-1376 .group-339 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1006px;
  min-height: 63px;
  position: absolute;
  top: 1034px;
  width: 173px;
}

.macbook-pro-16-1376 .robot-gardener {
  letter-spacing: 0;
  min-height: 29px;
}

.macbook-pro-16-1376 .grade {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 28px;
}

.macbook-pro-16-1376 .group-340 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1446px;
  min-height: 63px;
  position: absolute;
  top: 1034px;
  width: 174px;
}

.macbook-pro-16-1376 .the-frog-prince {
  letter-spacing: 0;
  min-height: 29px;
}

.macbook-pro-16-1376 .rectangle-31-1 {
  border-radius: 15px;
  height: 370px;
  left: 1424px;
  position: absolute;
  top: 755px;
  width: 370px;
}

.macbook-pro-16-1376 .overlap-group12 {
  height: 212px;
  left: 552px;
  position: absolute;
  top: 220px;
  width: 1253px;
}

.macbook-pro-16-1376 .group-431 {
  background-color: var(--caribbean-green-pearl);
  border-radius: 15px;
  height: 200px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 1241px;
}

.macbook-pro-16-1376 .mask-group {
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1241px;
}

.macbook-pro-16-1376 .everything-you-need-1 {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 600;
  left: 70px;
  letter-spacing: 0;
  position: absolute;
  top: 49px;
}

.macbook-pro-16-1376 .group-432 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 49px;
  left: 67px;
  min-width: 169px;
  position: absolute;
  top: 110px;
}

.macbook-pro-16-1376 .overlap-group-7 {
  align-items: flex-start;
  background-color: var(--scooter);
  border-radius: 40px;
  display: flex;
  height: 49px;
  min-width: 169px;
  padding: 7.8px 21.8px;
}

.macbook-pro-16-1376 .rectangle-32 {
  border-radius: 15px;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1240px;
}

.macbook-pro-16-1376 .hi-kevin {
  left: 314px;
  letter-spacing: 0;
  line-height: 27.0px;
  position: absolute;
  top: 789px;
  width: 79px;
}

.macbook-pro-16-1376 .overlap-group-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 101px;
  margin-top: 58px;
  min-width: 1254px;
}

.macbook-pro-16-1376 .group-container-1 {
  height: 382px;
  position: relative;
  width: 383px;
}

.macbook-pro-16-1376 .rectangle-30-3 {
  background-color: var(--caribbean-green-pearl);
  border-radius: 15px;
  height: 370px;
  left: 13px;
  position: absolute;
  top: 12px;
  width: 370px;
}

.macbook-pro-16-1376 .rectangle-13-3 {
  background-color: #263520;
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1376 .hyperspace-chair-2 {
  height: 1px;
  left: 289px;
  position: absolute;
  top: 115px;
  width: 1px;
}

.macbook-pro-16-1376 .draw-kit-fathers-day-illustrations-01 {
  height: 1px;
  left: 173px;
  object-fit: cover;
  position: absolute;
  top: 158px;
  width: 1px;
}

.macbook-pro-16-1376 .rectangle-16-1 {
  height: 1px;
  left: 185px;
  position: absolute;
  top: 314px;
  width: 1px;
}

.macbook-pro-16-1376 .group-344 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 20px;
  min-height: 65px;
  position: absolute;
  top: 277px;
  width: 334px;
}

.macbook-pro-16-1376 .name {
  letter-spacing: 0;
  min-height: 29px;
}

.macbook-pro-16-1376 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 28px;
  margin-top: 8px;
  min-width: 328px;
}

.macbook-pro-16-1376 .grade-5 {
  letter-spacing: 0;
  min-height: 28px;
  min-width: 76px;
}

.macbook-pro-16-1376 .contributors {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 143px;
  min-height: 14px;
  min-width: 55px;
}

.macbook-pro-16-1376 .ellipse-container-1 {
  align-self: center;
  height: 19px;
  margin-left: 5px;
  margin-top: 3.07px;
  position: relative;
  width: 49px;
}

.macbook-pro-16-1376 .group-container-2 {
  height: 382px;
  margin-left: 48px;
  margin-top: 0;
  position: relative;
  width: 383px;
}

.macbook-pro-16-1376 .rectangle-13-4 {
  background-color: #206c5e;
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1376 .the-band-sitting {
  height: 1px;
  left: 187px;
  position: absolute;
  top: 153px;
  width: 1px;
}

.macbook-pro-16-1376 .group-34 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 22px;
  min-height: 63px;
  position: absolute;
  top: 279px;
  width: 334px;
}

.macbook-pro-16-1376 .the-magic-trumpet {
  letter-spacing: 0;
  min-height: 29px;
}

.macbook-pro-16-1376 .flex-row {
  align-items: flex-start;
  display: flex;
  height: 28px;
  margin-top: 6px;
  min-width: 328px;
}

.macbook-pro-16-1376 .grade-2 {
  letter-spacing: 0;
  min-height: 28px;
  min-width: 75px;
}

.macbook-pro-16-1376 .contributors-1 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 144px;
  min-height: 14px;
  min-width: 55px;
}

.macbook-pro-16-1376 .group-container-3 {
  align-self: flex-end;
  height: 382px;
  margin-left: 57px;
  position: relative;
  width: 383px;
}

.macbook-pro-16-1376 .rectangle-13-5 {
  background-color: #91b9de;
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1376 .palz-dog {
  height: 1px;
  left: 185px;
  position: absolute;
  top: 129px;
  width: 1px;
}

.macbook-pro-16-1376 .the-8th-polka-dog {
  letter-spacing: 0;
  min-height: 29px;
}
