/* screen - macbook-pro-16-1384 */

.macbook-pro-16-1384 {
  align-items: flex-start;
  background-color: var(--cararra);
  display: flex;
  height: 1117px;
  overflow: hidden;
  width: 1728px;
}

.macbook-pro-16-1384 .overlap-group21 {
  height: 1669px;
  margin-left: -180px;
  margin-top: -92px;
  position: relative;
  width: 2058px;
}

.macbook-pro-16-1384 .grids {
  height: 1117px;
  left: 0;
  position: absolute;
  top: 101px;
  width: 1728px;
}

.macbook-pro-16-1384 .group-335 {
  background-color: var(--caribbean-green-pearl);
  border-radius: 15px;
  height: 200px;
  left: 566px;
  position: absolute;
  top: 323px;
  width: 1241px;
}

.macbook-pro-16-1384 .search-for-a-story-to-narrate {
  left: 596px;
  letter-spacing: 0;
  position: absolute;
  top: 201px;
}

.macbook-pro-16-1384 .narrate-stories-to-kids {
  left: 554px;
  letter-spacing: 0;
  position: absolute;
  top: 749px;
}

.macbook-pro-16-1384 .stories-we-have-that {
  left: 552px;
  letter-spacing: 0;
  position: absolute;
  top: 761px;
}

.macbook-pro-16-1384 .group-273 {
  align-items: flex-start;
  background-color: var(--eerie-black);
  border-radius: 40px;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  left: 1222px;
  min-width: 219px;
  padding: 17.8px 24.6px;
  position: absolute;
  top: 181px;
}

.macbook-pro-16-1384 .sort {
  height: 35px;
  width: 35px;
}

.macbook-pro-16-1384 .group-272 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 30px;
  margin-bottom: 2.4px;
  margin-left: 17px;
  min-width: 118px;
}

.macbook-pro-16-1384 .featured {
  letter-spacing: 0;
  min-height: 30px;
  min-width: 90px;
}

.macbook-pro-16-1384 .polygon-4 {
  height: 9px;
  margin-bottom: 1.83px;
  margin-left: 12px;
  width: 12px;
}

.macbook-pro-16-1384 .group-333 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 40px;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  left: 1456px;
  min-width: 185px;
  padding: 19.8px 28.2px;
  position: absolute;
  top: 181px;
}

.macbook-pro-16-1384 .language {
  letter-spacing: 0;
  min-height: 30px;
  min-width: 101px;
  text-align: center;
}

.macbook-pro-16-1384 .polygon-4-1 {
  align-self: center;
  height: 9px;
  margin-bottom: 4.23px;
  margin-left: 7px;
  width: 12px;
}

.macbook-pro-16-1384 .overlap-group-2 {
  align-items: flex-start;
  background-color: var(--cararra);
  border-radius: 35px;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  left: 552px;
  min-width: 621px;
  padding: 7.8px 8.2px;
  position: absolute;
  top: 181px;
}

.macbook-pro-16-1384 .search-for-a-story-to-narrate-1 {
  align-self: center;
  letter-spacing: 0;
  margin-bottom: 2.4px;
  min-height: 30px;
  min-width: 299px;
}

.macbook-pro-16-1384 .group-341 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 40px;
  display: flex;
  height: 53px;
  margin-left: 228px;
  min-width: 53px;
  padding: 12px;
}

.macbook-pro-16-1384 .simple-line-iconsmagnifier {
  height: 28px;
  width: 28px;
}

.macbook-pro-16-1384 .overlap-group1 {
  height: 382px;
  left: 552px;
  position: absolute;
  top: 1287px;
  width: 383px;
}

.macbook-pro-16-1384 .rectangle-30 {
  background-color: var(--caribbean-green-pearl);
  border-radius: 15px;
  height: 370px;
  left: 13px;
  position: absolute;
  top: 12px;
  width: 370px;
}

.macbook-pro-16-1384 .rectangle-13 {
  background-color: var(--white);
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1384 .rectangle-16 {
  height: 1px;
  left: 185px;
  position: absolute;
  top: 314px;
  width: 1px;
}

.macbook-pro-16-1384 .bcaab4108300933-1 {
  height: 1px;
  left: 185px;
  object-fit: cover;
  position: absolute;
  top: 129px;
  width: 1px;
}

.macbook-pro-16-1384 .rectangle-31 {
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1384 .overlap-group2 {
  height: 382px;
  left: 984px;
  position: absolute;
  top: 1287px;
  width: 383px;
}

.macbook-pro-16-1384 .rectangle-30-1 {
  background-color: var(--charm);
  border-radius: 15px;
  height: 370px;
  left: 13px;
  position: absolute;
  top: 12px;
  width: 370px;
}

.macbook-pro-16-1384 .rectangle-31-1 {
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1384 .overlap-group3 {
  height: 382px;
  left: 1424px;
  position: absolute;
  top: 1287px;
  width: 383px;
}

.macbook-pro-16-1384 .rectangle-30-2 {
  background-color: var(--orange-yellow);
  border-radius: 15px;
  height: 370px;
  left: 13px;
  position: absolute;
  top: 12px;
  width: 370px;
}

.macbook-pro-16-1384 .overlap-group-3 {
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1384 .rectangle-31-2 {
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1384 .group-344 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 572px;
  min-height: 65px;
  position: absolute;
  top: 1564px;
  width: 336px;
}

.macbook-pro-16-1384 .flex-row {
  align-items: flex-start;
  display: flex;
  height: 30px;
  min-width: 323px;
}

.macbook-pro-16-1384 .story-name {
  letter-spacing: 0;
  min-height: 29px;
  min-width: 126px;
}

.macbook-pro-16-1384 .preview {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 120px;
  min-height: 28px;
  min-width: 77px;
  text-decoration: underline;
}

.macbook-pro-16-1384 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 28px;
  margin-top: 7px;
  min-width: 328px;
}

.macbook-pro-16-1384 .grade-5 {
  letter-spacing: 0;
  min-height: 28px;
  min-width: 79px;
}

.macbook-pro-16-1384 .contributors {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 140px;
  min-height: 14px;
  min-width: 55px;
}

.macbook-pro-16-1384 .ellipse-container {
  align-self: center;
  height: 19px;
  margin-left: 5px;
  margin-top: 3.07px;
  position: relative;
  width: 49px;
}

.macbook-pro-16-1384 .ellipse-6 {
  background-color: var(--caribbean-green-pearl);
  border-radius: 9.5px;
  height: 19px;
  left: 30px;
  position: absolute;
  top: 0;
  width: 19px;
}

.macbook-pro-16-1384 .ellipse-6-1 {
  background-color: var(--charm);
  border-radius: 9.5px;
  height: 19px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 19px;
}

.macbook-pro-16-1384 .ellipse {
  background-color: var(--anzac);
  border-radius: 9.5px;
  height: 19px;
  left: 0;
  position: absolute;
  top: 0;
  width: 19px;
}

.macbook-pro-16-1384 .group-345 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1006px;
  min-height: 63px;
  position: absolute;
  top: 1566px;
  width: 336px;
}

.macbook-pro-16-1384 .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 29px;
  min-width: 323px;
}

.macbook-pro-16-1384 .preview-1 {
  letter-spacing: 0;
  margin-left: 120px;
  min-height: 28px;
  text-decoration: underline;
}

.macbook-pro-16-1384 .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 28px;
  margin-top: 6px;
  min-width: 328px;
}

.macbook-pro-16-1384 .group-346 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1446px;
  min-height: 63px;
  position: absolute;
  top: 1566px;
  width: 336px;
}

.macbook-pro-16-1384 .robinhood-moebius-02-1 {
  height: 200px;
  left: 554px;
  position: absolute;
  top: 311px;
  width: 1241px;
}

.macbook-pro-16-1384 .everything-you-need {
  left: 624px;
  letter-spacing: 0;
  position: absolute;
  top: 359px;
}

.macbook-pro-16-1384 .overlap-group-4 {
  align-items: flex-start;
  background-color: var(--scooter);
  border-radius: 40px;
  display: flex;
  height: 49px;
  left: 620px;
  min-width: 169px;
  padding: 7.8px 21.8px;
  position: absolute;
  top: 421px;
}

.macbook-pro-16-1384 .take-a-peek {
  letter-spacing: 0;
  min-height: 30px;
  min-width: 120px;
  text-align: center;
}

.macbook-pro-16-1384 .rectangle-13-1 {
  border-radius: 15px;
  height: 200px;
  left: 552px;
  position: absolute;
  top: 311px;
  width: 1241px;
}

.macbook-pro-16-1384 .overlap-group7 {
  border-radius: 15px;
  height: 129px;
  left: 552px;
  position: absolute;
  top: 566px;
  width: 549px;
}

.macbook-pro-16-1384 .x {
  align-items: center;
  background-color: var(--cararra);
  border-radius: 15px;
  display: flex;
  height: 129px;
  justify-content: flex-end;
  left: 0;
  min-width: 549px;
  padding: 0 37.0px;
  position: absolute;
  top: 0;
}

.macbook-pro-16-1384 .overlap-group {
  height: 19px;
  position: relative;
  width: 19px;
}

.macbook-pro-16-1384 .rectangle-161 {
  background-color: var(--black);
  height: 19px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 2px;
}

.macbook-pro-16-1384 .rectangle-162 {
  background-color: var(--black);
  height: 19px;
  left: 9px;
  position: absolute;
  top: 0;
  transform: rotate(-90.00deg);
  width: 2px;
}

.macbook-pro-16-1384 .create-your-own-story {
  left: 119px;
  letter-spacing: 0;
  position: absolute;
  top: 37px;
}

.macbook-pro-16-1384 .write-or-upload-a-new-story-and-narrate {
  left: 119px;
  letter-spacing: 0;
  position: absolute;
  top: 67px;
}

.macbook-pro-16-1384 .menu-book {
  height: 36px;
  left: 55px;
  position: absolute;
  top: 46px;
  width: 36px;
}

.macbook-pro-16-1384 .overlap-group8 {
  align-items: flex-start;
  background-color: var(--bon-jour);
  display: flex;
  flex-direction: column;
  left: 178px;
  min-height: 1138px;
  padding: 51px 38px;
  position: absolute;
  top: 91px;
  width: 297px;
}

.macbook-pro-16-1384 .overlap-group1-1 {
  align-self: center;
  height: 133px;
  margin-right: 31.0px;
  position: relative;
  width: 132px;
}

.macbook-pro-16-1384 .ellipse-54 {
  height: 115px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 110px;
}

.macbook-pro-16-1384 .overlap-group-5 {
  height: 133px;
  left: 0;
  position: absolute;
  top: 0;
  width: 132px;
}

.macbook-pro-16-1384 .o {
  left: 0;
  letter-spacing: 0;
  line-height: 133.1px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.macbook-pro-16-1384 .ellipse-46 {
  border-radius: 16.35px;
  height: 33px;
  left: 19px;
  position: absolute;
  top: 52px;
  width: 33px;
}

.macbook-pro-16-1384 .ellipse-47 {
  border-radius: 16.35px;
  height: 33px;
  left: 79px;
  position: absolute;
  top: 52px;
  width: 33px;
}

.macbook-pro-16-1384 .ellipse-48 {
  background-color: var(--black);
  border-radius: 7.27px;
  height: 15px;
  left: 83px;
  position: absolute;
  top: 56px;
  width: 15px;
}

.macbook-pro-16-1384 .ellipse-49 {
  background-color: var(--black);
  border-radius: 7.27px;
  height: 15px;
  left: 22px;
  position: absolute;
  top: 56px;
  width: 15px;
}

.macbook-pro-16-1384 .title {
  line-height: 22.0px;
  margin-left: 7px;
  margin-top: 14px;
  min-height: 22px;
  min-width: 182px;
  text-align: center;
  white-space: nowrap;
}

.macbook-pro-16-1384 .span0 {
  letter-spacing: -0.23px;
}

.macbook-pro-16-1384 .span1 {
  letter-spacing: 0;
}

.macbook-pro-16-1384 .flex-row-4 {
  align-items: center;
  display: flex;
  margin-left: 8px;
  margin-top: 559px;
  min-width: 168px;
}

.macbook-pro-16-1384 .ellipse-71 {
  height: 72px;
  width: 72px;
}

.macbook-pro-16-1384 .hi-kevin {
  letter-spacing: 0;
  line-height: 27.0px;
  margin-left: 17px;
  margin-top: 2.0px;
  min-height: 54px;
  width: 79px;
}

.macbook-pro-16-1384 .frame-56 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 31px;
}

.macbook-pro-16-1384 .stories {
  align-items: flex-start;
  display: flex;
  min-width: 186px;
}

.macbook-pro-16-1384 .overlap-group-6 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 40px;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  min-width: 184px;
  padding: 16.8px 15.2px;
}

.macbook-pro-16-1384 .community {
  letter-spacing: 0;
  min-height: 36px;
  text-align: center;
  width: 152px;
}

.macbook-pro-16-1384 .my-stories {
  align-items: center;
  background-color: var(--white);
  border-radius: 40px;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  min-width: 184px;
  padding: 0 25.0px;
}

.macbook-pro-16-1384 .my-drafts {
  letter-spacing: 0;
  min-height: 36px;
  text-align: center;
  width: 133px;
}

.macbook-pro-16-1384 .group-433 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 40px;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  left: 1656px;
  min-width: 151px;
  padding: 19.8px 24.2px;
  position: absolute;
  top: 181px;
}

.macbook-pro-16-1384 .grade-5-3 {
  letter-spacing: 0;
  min-height: 30px;
  min-width: 81px;
}

.macbook-pro-16-1384 .polygon-4-2 {
  align-self: center;
  height: 9px;
  margin-bottom: 4.23px;
  margin-left: 9px;
  width: 12px;
}

.macbook-pro-16-1384 .group-455 {
  align-items: flex-start;
  display: flex;
  height: 823px;
  left: 552px;
  min-width: 1254px;
  position: absolute;
  top: 846px;
}

.macbook-pro-16-1384 .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 823px;
  width: 383px;
}

.macbook-pro-16-1384 .group {
  height: 382px;
  position: relative;
  width: 383px;
}

.macbook-pro-16-1384 .group-1 {
  height: 382px;
  left: 0;
  position: absolute;
  top: 0;
  width: 383px;
}

.macbook-pro-16-1384 .rectangle-16-1 {
  height: 105px;
  left: 0;
  position: absolute;
  top: 262px;
  width: 370px;
}

.macbook-pro-16-1384 .bcaab4108300933-1-1 {
  height: 258px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1384 .rectangle-31-3 {
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1384 .group-338 {
  align-items: flex-start;
  display: flex;
  height: 78px;
  left: 20px;
  min-width: 335px;
  position: absolute;
  top: 277px;
}

.macbook-pro-16-1384 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 62px;
  width: 170px;
}

.macbook-pro-16-1384 .the-frog-prince {
  letter-spacing: 0;
  min-height: 29px;
}

.macbook-pro-16-1384 .grade-5-4 {
  letter-spacing: 0;
  margin-top: 5px;
  min-height: 28px;
}

.macbook-pro-16-1384 .group-377-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 112px;
  min-height: 40px;
  width: 51px;
}

.macbook-pro-16-1384 .ellipse-container-1 {
  height: 19px;
  position: relative;
  width: 49px;
}

.macbook-pro-16-1384 .narrators {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 6px;
  min-height: 15px;
}

.macbook-pro-16-1384 .illustration {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62608254ac89f88ed541830c/releases/627965dee2bb70cf46b618bd/img/screen-shot-2022-04-27-at-5-29-1@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 320px;
  left: 1px;
  min-width: 369px;
  padding: 32.5px 156.6px;
  position: absolute;
  top: 0;
}

.macbook-pro-16-1384 .union {
  height: 45px;
  width: 32px;
}

.macbook-pro-16-1384 .group-445 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62608254ac89f88ed541830c/releases/627965dee2bb70cf46b618bd/img/screen-shot-2022-04-27-at-9-08-1@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 302px;
  left: 1px;
  min-width: 369px;
  padding: 30.8px 17px;
  position: absolute;
  top: 0;
}

.macbook-pro-16-1384 .palz-big-leaves-container {
  align-self: center;
  height: 80px;
  margin-top: 37.94px;
  position: relative;
  width: 80px;
}

.macbook-pro-16-1384 .palz-big-leaves {
  height: 51px;
  left: 12px;
  position: absolute;
  top: 29px;
  width: 68px;
}

.macbook-pro-16-1384 .palz-big-leaves-1 {
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 39px;
}

.macbook-pro-16-1384 .union-1 {
  height: 45px;
  margin-left: 80px;
  width: 32px;
}

.macbook-pro-16-1384 .palz-big-leaves-2 {
  align-self: flex-end;
  height: 81px;
  margin-bottom: 31.21px;
  margin-left: 31px;
  width: 108px;
}

.macbook-pro-16-1384 .group-377 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 303px;
  min-height: 40px;
  position: absolute;
  top: 310px;
  width: 52px;
}

.macbook-pro-16-1384 .ellipse-container-2 {
  height: 19px;
  margin-left: 1px;
  position: relative;
  width: 49px;
}

.macbook-pro-16-1384 .narrators-1 {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 15px;
}

.macbook-pro-16-1384 .group-340 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 22px;
  min-height: 63px;
  position: absolute;
  top: 279px;
  width: 174px;
}

.macbook-pro-16-1384 .the-frog-prince-1 {
  letter-spacing: 0;
  min-height: 29px;
}

.macbook-pro-16-1384 .grade-5-1 {
  letter-spacing: 0;
  margin-top: 6px;
  min-height: 28px;
}

.macbook-pro-16-1384 .rectangle-31-4 {
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1384 .group-container {
  height: 382px;
  margin-top: 59px;
  position: relative;
  width: 383px;
}

.macbook-pro-16-1384 .rectangle-31-5 {
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1384 .group-452 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 20px;
  min-height: 65px;
  position: absolute;
  top: 277px;
  width: 336px;
}

.macbook-pro-16-1384 .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 48px;
  min-height: 823px;
  width: 383px;
}

.macbook-pro-16-1384 .rectangle-30-3 {
  background-color: var(--scooter);
  border-radius: 15px;
  height: 370px;
  left: 13px;
  position: absolute;
  top: 12px;
  width: 370px;
}

.macbook-pro-16-1384 .rectangle-31-6 {
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1384 .group-377-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 303px;
  min-height: 40px;
  position: absolute;
  top: 314px;
  width: 51px;
}

.macbook-pro-16-1384 .group-339 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 22px;
  min-height: 63px;
  position: absolute;
  top: 279px;
  width: 140px;
}

.macbook-pro-16-1384 .name {
  letter-spacing: 0;
  min-height: 29px;
}

.macbook-pro-16-1384 .rectangle-13-2 {
  background-color: var(--green-kelp);
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1384 .hyperspace-chair-2 {
  height: 197px;
  left: 197px;
  position: absolute;
  top: 17px;
  width: 184px;
}

.macbook-pro-16-1384 .draw-kit-fathers-day-illustrations-01 {
  height: 283px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 283px;
}

.macbook-pro-16-1384 .rectangle-31-7 {
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1384 .group-344-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 20px;
  min-height: 65px;
  position: absolute;
  top: 277px;
  width: 334px;
}

.macbook-pro-16-1384 .name-1 {
  letter-spacing: 0;
  min-height: 29px;
}

.macbook-pro-16-1384 .flex-row-5 {
  align-items: flex-start;
  display: flex;
  height: 28px;
  margin-top: 8px;
  min-width: 328px;
}

.macbook-pro-16-1384 .grade-5-2 {
  letter-spacing: 0;
  min-height: 28px;
  min-width: 76px;
}

.macbook-pro-16-1384 .contributors-1 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 143px;
  min-height: 14px;
  min-width: 55px;
}

.macbook-pro-16-1384 .rectangle-31-8 {
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1384 .group-45 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 22px;
  min-height: 63px;
  position: absolute;
  top: 279px;
  width: 336px;
}

.macbook-pro-16-1384 .overlap-group-container-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 57px;
  min-height: 823px;
  width: 383px;
}

.macbook-pro-16-1384 .group-340-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 22px;
  min-height: 63px;
  position: absolute;
  top: 279px;
  width: 151px;
}

.macbook-pro-16-1384 .the-little-fox {
  letter-spacing: 0;
  min-height: 29px;
}

.macbook-pro-16-1384 .rectangle-31-9 {
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1384 .rectangle-13-3 {
  background-color: var(--jordy-blue);
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1384 .rectangle-16-2 {
  height: 105px;
  left: 0;
  position: absolute;
  top: 261px;
  width: 370px;
}

.macbook-pro-16-1384 .rectangle-31-10 {
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1384 .palz-dog {
  height: 217px;
  left: 41px;
  position: absolute;
  top: 21px;
  width: 288px;
}

.macbook-pro-16-1384 .group-346-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 22px;
  min-height: 63px;
  position: absolute;
  top: 279px;
  width: 334px;
}

.macbook-pro-16-1384 .the-8th-polka-dog {
  letter-spacing: 0;
  min-height: 29px;
}

.macbook-pro-16-1384 .overlap-group-7 {
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1384 .rectangle-31-11 {
  border-radius: 15px;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 370px;
}

.macbook-pro-16-1384 .overlap-group19 {
  height: 212px;
  left: 552px;
  position: absolute;
  top: 311px;
  width: 1253px;
}

.macbook-pro-16-1384 .group-431 {
  background-color: var(--caribbean-green-pearl);
  border-radius: 15px;
  height: 200px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 1241px;
}

.macbook-pro-16-1384 .mask-group {
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1241px;
}

.macbook-pro-16-1384 .everything-you-need-1 {
  left: 70px;
  letter-spacing: 0;
  position: absolute;
  top: 49px;
}

.macbook-pro-16-1384 .overlap-group-8 {
  align-items: flex-start;
  background-color: var(--scooter);
  border-radius: 40px;
  display: flex;
  height: 49px;
  left: 67px;
  min-width: 169px;
  padding: 7.8px 21.8px;
  position: absolute;
  top: 110px;
}

.macbook-pro-16-1384 .rectangle-32 {
  border-radius: 15px;
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1240px;
}

.macbook-pro-16-1384 .rectangle-260 {
  background-color: #0000004c;
  height: 1321px;
  left: 144px;
  position: absolute;
  top: 0;
  width: 1913px;
}

.macbook-pro-16-1384 .overlap-group20 {
  align-items: center;
  background-color: var(--white);
  border-radius: 19.53px;
  display: flex;
  flex-direction: column;
  left: 650px;
  min-height: 962px;
  padding: 15.8px 21.8px;
  position: absolute;
  top: 179px;
  width: 795px;
}

.macbook-pro-16-1384 .cancel {
  align-items: flex-end;
  align-self: flex-end;
  background-color: var(--black);
  border-radius: 21.22px;
  display: flex;
  height: 42px;
  justify-content: flex-end;
  min-width: 42px;
  padding: 11.5px 11.5px;
}

.macbook-pro-16-1384 .x-1 {
  align-items: flex-start;
  display: flex;
  min-width: 19px;
  transform: rotate(-45.00deg);
}

.macbook-pro-16-1384 .rectangle-161-1 {
  background-color: var(--white);
  height: 19px;
  left: 9px;
  position: absolute;
  top: 0;
  transform: rotate(-90.00deg);
  width: 2px;
}

.macbook-pro-16-1384 .rectangle-162-1 {
  background-color: var(--white);
  height: 19px;
  left: 9px;
  position: absolute;
  top: 0;
  transform: rotate(-180.00deg);
  width: 2px;
}

.macbook-pro-16-1384 .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 24.0px;
  margin-top: 22px;
  min-height: 150px;
  width: 645px;
}

.macbook-pro-16-1384 .check-out-narrations {
  letter-spacing: 0;
  margin-left: 1px;
  min-height: 24px;
}

.macbook-pro-16-1384 .flex-row-6 {
  align-items: flex-end;
  display: flex;
  height: 108px;
  margin-top: 4px;
  min-width: 451px;
}

.macbook-pro-16-1384 .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 108px;
  width: 162px;
}

.macbook-pro-16-1384 .narrators-2 {
  letter-spacing: 0;
  min-height: 54px;
}

.macbook-pro-16-1384 .place {
  letter-spacing: 0;
  margin-left: 17px;
  margin-top: 24px;
  min-height: 30px;
}

.macbook-pro-16-1384 .uses {
  letter-spacing: 0;
  margin-left: 86px;
  min-height: 30px;
  min-width: 48px;
}

.macbook-pro-16-1384 .ratings {
  letter-spacing: 0;
  margin-left: 78px;
  min-height: 30px;
  min-width: 77px;
}

.macbook-pro-16-1384 .line-42 {
  height: 1px;
  margin-top: 13px;
  width: 645px;
}

.macbook-pro-16-1384 .flex-row-7 {
  align-items: center;
  display: flex;
  height: 567px;
  margin-left: 18.61px;
  margin-top: 19px;
  min-width: 614px;
}

.macbook-pro-16-1384 .ellipse-container-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 567px;
  width: 47px;
}

.macbook-pro-16-1384 .ellipse-64 {
  height: 47px;
  width: 47px;
}

.macbook-pro-16-1384 .ellipse-1 {
  height: 47px;
  margin-top: 18px;
  width: 47px;
}

.macbook-pro-16-1384 .frame-411 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-left: 21px;
  margin-top: 1.55px;
}

.macbook-pro-16-1384 .jackm {
  letter-spacing: 0;
  margin-top: -1px;
}

.macbook-pro-16-1384 .dr-narra {
  letter-spacing: 0;
}

.macbook-pro-16-1384 .yuran-ding {
  letter-spacing: 0;
}

.macbook-pro-16-1384 .preethis {
  letter-spacing: 0;
}

.macbook-pro-16-1384 .mike_-jin {
  letter-spacing: 0;
}

.macbook-pro-16-1384 .shaoboz {
  letter-spacing: 0;
}

.macbook-pro-16-1384 .rick_-mor {
  letter-spacing: 0;
}

.macbook-pro-16-1384 .ed-sheeran {
  letter-spacing: 0;
}

.macbook-pro-16-1384 .master-y {
  letter-spacing: 0;
}

.macbook-pro-16-1384 .frame-412 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-left: 57px;
  margin-top: 1.55px;
}

.macbook-pro-16-1384 .x90-k {
  letter-spacing: 0;
  margin-top: -1px;
}

.macbook-pro-16-1384 .x852-k {
  letter-spacing: 0;
}

.macbook-pro-16-1384 .x41-k {
  letter-spacing: 0;
}

.macbook-pro-16-1384 .x40-k {
  letter-spacing: 0;
}

.macbook-pro-16-1384 .x22-k {
  letter-spacing: 0;
}

.macbook-pro-16-1384 .x124-k {
  letter-spacing: 0;
}

.macbook-pro-16-1384 .x10-k {
  letter-spacing: 0;
}

.macbook-pro-16-1384 .x3-k {
  letter-spacing: 0;
}

.macbook-pro-16-1384 .x09-k {
  letter-spacing: 0;
}

.macbook-pro-16-1384 .frame-425 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 43px;
  margin-left: 71px;
  margin-top: 1.55px;
}

.macbook-pro-16-1384 .group-42 {
  align-items: flex-start;
  display: flex;
  height: 22px;
  min-width: 154px;
  padding: 1px 0;
}

.macbook-pro-16-1384 .star {
  height: 20px;
  width: 21px;
}

.macbook-pro-16-1384 .star-1 {
  height: 20px;
  margin-left: 12px;
  width: 21px;
}

.macbook-pro-16-1384 .group-424 {
  align-items: flex-start;
  display: flex;
  height: 22px;
  min-width: 154px;
  padding: 1.0px 0.0px;
}

.macbook-pro-16-1384 .group-421 {
  align-items: center;
  display: flex;
  height: 22px;
  min-width: 153px;
}

.macbook-pro-16-1384 .star-3 {
  height: 20px;
  margin-bottom: 0.1px;
  width: 21px;
}

.macbook-pro-16-1384 .star-2 {
  height: 20px;
  margin-bottom: 0.1px;
  margin-left: 12px;
  width: 21px;
}

.macbook-pro-16-1384 .star-4 {
  align-self: flex-start;
  height: 20px;
  margin-left: 12px;
  margin-top: -0.05px;
  width: 21px;
}

.macbook-pro-16-1384 .group-42-1 {
  align-items: flex-start;
  display: flex;
  height: 22px;
  min-width: 154px;
  padding: 1.0px 0.0px;
}

.macbook-pro-16-1384 .group-429 {
  align-items: flex-start;
  display: flex;
  height: 22px;
  margin-bottom: -5.72e-06px;
  min-width: 154px;
  padding: 1.0px 0.0px;
}

.macbook-pro-16-1384 .frame-426 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-left: 36px;
  margin-top: 0.55px;
}

.macbook-pro-16-1384 .group-2 {
  align-items: flex-start;
  display: flex;
  height: 29px;
  min-width: 65px;
}

.macbook-pro-16-1384 .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--caribbean-green-pearl);
  border-radius: 40px;
  display: flex;
  height: 31px;
  margin-left: -1px;
  margin-top: -1.2px;
  min-width: 65px;
  padding: 4.0px 1.0px;
}

.macbook-pro-16-1384 .open {
  letter-spacing: 0;
  min-height: 17px;
  text-align: center;
  width: 61px;
}
